@model NOLA_MVC4.ViewModels.NOLAProgramViewModel
@{
    ViewBag.Title = "NOLA Program Archive";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h5>@ViewBag.Message</h5>
</hgroup>

<article>
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "resultsGrid", HttpMethod = "GET", LoadingElementId = "loadingIndicator" }))
{
    <p> 
        Search by NOLA: @Html.TextBox("nolaSearchString", Model.nolaSearchString)   
        <input type="submit" value="Go" /></p>
    <p> 
        Enter a Series/Program Title: @Html.TextBox("titleSearchString")   
        <input type="submit" value="Go" /></p>  
}

    @Html.Partial("_archiveResults", Model)
    <div id="loadingIndicator" style="display:none">
        <img src="../../Images/ajax-loader.gif" />
    </div>
</article>

<aside>
    @*<h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("NOLA Program Archive", "Index", "NOLA")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>*@
</aside>